<body>
  <nav class="navbar navbar-expand-lg static-top ">

    <a class="navbar-brand" href="#">
      <img src="../../../assets/logo.png" alt="Logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <a class="p-2 text-dark" href="#">Feed</a>

        </li>
        <li class="nav-item">
          <a class="p-2 text-dark" href="#">Library</a>

        </li>
        <li class="nav-item">
          <a class="p-2 text-dark" href="#">Suggest</a>

        <li class="nav-item">
          <a class="p-2 text-dark" href="#">Stats</a>

        </li>

        <li class="nav-item">
          <a class="p-2 text-dark" href="#">Groups</a>

        </li>
        <li class="nav-item">
          <a class="p-2 text-dark" href="#">Data</a>


        </li>
        <li class="nav-item">
          <a class="p-2 text-dark" href="#"><i class="fas fa-search "></i> Search</a>

        </li>

        <li class="nav-item">
          <a class="p-2 text-dark" href="#"><i class="far fa-bell"></i></a>

        </li>
        <li class="nav-item">
          <a class="p-2 text-dark" href="#">Me</a>

        </li>
        <li class="nav-item">
          <a class="p-2 me border  rounded-circle" href="#"><span>Me</span></a>

        </li>
        <li class="nav-item">
          <a class="p-2 text-dark" href="#"><i class="fas fa-angle-down"></i></a>

        </li>
      </ul>
    </div>

  </nav>
  <div class="row">
    <div class=" mx-auto col-md-12 col-sm-12">
      <div class="container">
        <div class="row ">
          <div class="col-md-3 col-sm-12">
            <img src="../../assets/logo.png" width="400px" height="200px" alt="avatar">
          </div>
          <div class="col-md-6 col-sm-12">
            <h1>
              David Neal (demo)
            </h1>

            <p>Professor<br>
              Senior Group Leader and Professor of Surgical Oncology<br>
              University of Cambridge</p>
            <button class="btn ii btn-lg">Follow</button>
            <a class="text-dark" href="#">Message <i class="fas text-primary  fa-envelope"></i></a>
          </div>
          <div class="col-md-3 col-sm-12">

            <span class="cit badge badge-light">500<br><i class="text-muted cits">Publication</i></span>
            <span class=" cit badge badge-light">12880<br><i class="text-mute cits">Readers</i></span>

            <div class="row">
              <span class=" cit badge badge-light">72<br><i class="text-muted cits">h-index</i></span>
              <span class=" cit badge badge-light">18150<br><i class="text-muted cits">Citations</i></span>
              <span class="cit badge badge-light">97427<br><i class="text-muted cits">Views</i></span>

            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="container  min">
        <div class="row">
          <div class="col">
            <h2>Research Interests</h2>
            <br>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12">

            <a class="res border ">Urology</a>
            <a class="res border ">Surgical Oncology</a>

          </div>
          <div class="mt-4 col-md-12 col-sm-12">
            <a class="res border ">Prostate Cancer</a>

          </div>

          <div class=" mt-4 col-md-12 col-sm-12">

            <a class="res border ">Androgen Receptor Signalling and Prostate Cancer Genomics</a>

          </div>

        </div>
      </div>
    </div>
    <div class="col-md-8 col-sm-12">
      <div class="container">

        <div class="row">
          <div class="col">
            <h2>About</h2>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-8 col-sm-12">
            <p>I am a urological surgeon abd translational researcher by training and background and spent <br>
              over 11 years at the university of Cambridge developing the clinical urological services there <br>
              and forming a new translational research group. <br><br>
              I am now working at Elsevier as Senior Vice President for Research, Where I shall be <br>
            </p>
            <a class=" mx-auto text-dark" style="width: 200px; display: block;" href="#"><i class="text-primary  fas fa-angle-down"></i>
              View more</a>
            <br>
          </div>
        </div>
      </div>

    </div>
  </div>
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="container">
        <div class="row">
          <div class="col">
            <h2>Followers(33)</h2>
          </div>
        </div>
        <br>
        <div class="row">
          <img src="../../assets/logo.png" width="50px" height="25px">
          <div class="col ">
            <a href="#" class="text-primary">Maxim Kotsemir<br></a>
            <a class="text-muted">State University Higher...</a>
          </div>
          <div class="col">
            <a href="#" class="text-dark">Follow <i class="far text-primary fa-user"></i></a>
          </div>


        </div>
        <div class="row">
          <img src="../../assets/logo.png" width="50px" height="25px">
          <div class="col ">
            <a href="#" class="text-primary">Maxim Kotsemir<br></a>
            <a class="text-muted">State University Higher...</a>
          </div>
          <div class="col">
            <a href="#" class="text-dark">Follow <i class="far text-primary fa-user"></i></a>

          </div>

        </div>
        <div class="row">
          <img src="../../assets/logo.png" width="50px" height="25px">
          <div class="col ">
            <a href="#" class="text-primary">Maxim Kotsemir<br></a>
            <a class="text-muted">State University Higher...</a>
          </div>
          <div class="col">
            <a href="#" class="text-dark">Follow <i class="far text-primary fa-user"></i></a>
          </div>

        </div>
        <div class="row">
          <img src="../../assets/logo.png" width="50px" height="25px">
          <div class="col ">
            <a href="#" class="text-primary">Maxim Kotsemir<br></a>
            <a class="text-muted">State University Higher...</a>
          </div>
          <div class="col">
            <a href="#" class="text-dark">Follow <i class="far text-primary fa-user"></i></a>

          </div>

        </div>
      </div>
    </div>
    <div class="col-md-8 col-sm-12">
      <div class="container">
        <div class="row">
          <div class="col-md-10 col-sm-12">
            <h2>Publication</h2>
          </div>
          <div class="col-md-2 col-sm-12">
            <span class=" text-primary">All (500) </span><span class=" ml-5 border border-info"><i class="text-primary fas fa-2x fa-angle-down"></i></span>
          </div>
        </div>
        <hr class="publicationHr">
        <br>
        <div class="row">
          <div class="col-md-2 col-sm-12">
            <img src="../../assets/logo.png" width="100px" height="50px;" alt="publications">
          </div>
          <div class="col-md-10 col-sm-12">
            <p class="publications">A Large Scale Analysis of Genetic Variants within Putative <br>
              miRNA Binding Sites in Prostate Cancer<br></p>
            <p class="text-muted">Stegeman S, Amankwah E, Klevn K, O'Mara T, Kim D, Lin H, Permuth-Wey J, Sellers T,
              Sriniva...<br>
              Cancer Discov (2015)</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <a href="#"><i class="fas text-primary fa-plus"></i> Save reference</a>
          </div>
          <div class="col">
            <a href="#"><i class="fas text-primary fa-external-link-alt"></i> Get full text at journal</a>
          </div>
          <div class="col">
            <p>5 <i class="text-muted">Readers</i></p>
          </div>
        </div>
      </div>
    </div>
  </div>


</body>
